<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    @Scripts.Render("~/bundles/bootstrap")

   
    

</head>
<body>
    <!-->header </-->
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Home/index">PakistanBazar</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav navbar-nav nav-tabs-justified navbar-right">
                    @if(Session["Name"] == null)
                        {
                            <li>
                                <a href="/Home/SignIn">SignIn</a>
                            </li>
                            <li>
                                <a href="/Home/SignUp">Register</a>
                            </li>
                        }
                       
                        @if(Session["Name"] != null)
                        {
                              <li>
                                    <a href="/Users/MyProfile">@Session["Name"] </a>
                              </li>
                            
                            
                        }
                        <li>
                            <a href="/Home/About">About us</a>
                        </li>
                        <li>
                            <a href="/Home/Contact">Contact us</a>
                        </li>
                        @if (Session["Name"] != null)
                        {
                            <li>
                                <a href="#">Post A Add </a>
                            </li>


                        }
                        @if (Session["Name"] != null)
                        {
                            <li>
                                <a href="/Users/LogOut">Log out</a>
                            </li>


                        }

                    </ul>
                    
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            <!-->cantainer</!-->
        </div>
    </header>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    
                    <p>&copy; @DateTime.Now.Year - Pakistan Bazaar</p>

                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <p><b>ContactUs</b> </p>

                        </div>
                        <div class="col-lg-3">
                            <a href="https://www.facebook.com/M.AfzalAkram">Facebook
                                <img src="~/Images/fb.png" style="height:20px;width:20px" />
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="https://twitter.com/">Twitter
                                <img src="~/Images/tw.png" style="height:20px;width:20px" />
                            </a>

                        </div>
                          
                                            
                    </div>

                        
                           
                        
                           
                     
                        
                            
                        
                </div>
            </div>
            <center><p style="background-color:#808080"><b>Live with Style</b></p></center>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>