@model PakistanBazaar.Models.User

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<script src="~/Scripts/jquery.js"></script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <div>

                 <!--   Enter Your Email ID: <input type="text" placeholder="ID" id="UserName" name="Email" size="35" /><br /><br />  -->
                    

                    <input type="button" id="b1" value="Check" />
                    <div id="result"></div>

                    <script>

                        $(document).ready(function () {

                            $('#checking').hide();

                            $('#b1').click(function () {

                                var userName = $('#UserName').val();

                                //alert('User Name ='+ userName);
                                $('#checking').show();
                                $.getJSON("/home/CheckUserName?UserName=" + userName, function (data) {
                                    $('#checking').hide();
                                    if (data) {
                                        $('#result').text("User already exists");

                                    }
                                    else {
                                        $('#result').text("User Name is available");
                                    }
                                });

                            });

                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passward, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Passward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Passward, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SignUp" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
